.shopNavItem{
  margin:0;
  .shop-item-image{
    background-position: 50% 50%;
    background-size:cover;
  }

  .item-cover{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.2);
    cursor:pointer;
    i{
      font-size:2rem;
      color:white;
    }
  }
}

.shopNavItem-container{
  transition:all .3s ease;
  position:relative;
    display:inline-flex;
  &.shopNavItem-info{
  }
  margin:2rem;
  z-index:1;
  &.shopNavItem-sort{
    .shopNavItem{
      filter:saturate(200%);
    }
  }
}

.shopNavItem-info-card{
  width:250px;
  overflow:hidden;
  background:white;
  box-sizing: border-box;
  z-index:-1;

}
.shopNavItem-sort-cover{
  z-index:10;
  position:absolute;
  left:0;
  width:100%;
  bottom:2rem;
  padding:1rem;
  display:flex;
  justify-content: space-between;
  box-sizing: border-box;
}