$shop-home-header: (
        h:80px
);
$shop-home-nav-bg: $--color-bg;
$shop-home-nav-hover: $--color-light-main-bg;

$shop-nav-item: (
        h:60px,
        w:120px,
        display:inline-block,
        bold:true,
);
$shop-home-nav-bottom:14px;
$shop-nav-item-thumb: (
        h:5px,
        bg:$--color-main
);


$shop-item-card-primary: (
        h:20rem,
        m:1rem 2rem,
        mb:2rem,
        bg:$--color-bg
);
$shop-item-card-primary-img: (
        h: 200px,
        w:250px
);

$shop-item-card-secondary: (
                m:1rem,
        mb:2rem,
        px:2rem
);
$shop-item-card-secondary-img: (
        h:280px,
        w:280px
);
$shop-item-card-secondary-header: (
        font:1.4rem,
        m:1rem 0,
        mb:2rem,
        color: lucency_text($--color-main)
);

$shop-home-footer:(
        bg:$--color-light-bg,
        p:3rem 1rem,
        mt:2rem
);
$shop-home-footer-content-m:1rem 8%;