<div>

    <div class="cm-search-card">
        <Form :form="form">
            <Row>
                <Cell>
                    <Label> 名称</Label>
                    <Value v-form-controller="'name'">
                        <el-input v-model="form.value.name"/>
                    </Value>
                </Cell>
                <Cell>
                    <Label>是否为大类</Label>
                    <Value>
                        <el-select v-model="form.value.isMain">
                            <el-option :value="true" label="是"/>
                            <el-option :value="false" label="否"/>
                        </el-select>
                    </Value>
                </Cell>
                <Cell v-if="showSelectParent">
                    <Label>选择父类</Label>
                    <Value>
                        <el-select v-model="form.value.parentClass" clearable>
                            <el-option
                                    v-for="i in classLists"
                                    :key="i.id"
                                    :value="i.id"
                                    :label="i.name"
                            />
                        </el-select>
                    </Value>
                </Cell>
            </Row>
        </Form>
        <Aside class="text-center">
            <el-button @click="add" type="primary">新增</el-button>
            <el-button @click="reset" type="info">重置</el-button>
        </Aside>
    </div>

    <div class="cm-content-card">
        <transition name="animate-fade">
            <el-alert
            v-if="mainOrderChangedList.length"
            title="大类顺序已经被更改，是否保存?"
            show-icon
            :closable="false"
            type="warning" style="margin-bottom:10px">

                <div class="between">
                    <el-button :disabled="confirmMainOrderLoading" @click="confirmMainOrderChanged" size="mini" type="warning">
                        确定
                        <i v-if="confirmMainOrderLoading" class="fa fa-loader ice-fa-loader"></i>
                    </el-button>
                    <el-button @click="resetMainOrderChanged" size="mini" type="success">重置</el-button>
                </div>
            </el-alert>
        </transition>

        <Table
                :loading="tableLoading"
                :data="lists"
                :row-class-name="tableRowClassHandle"
                :disablePagination="true"
        >
            <el-table-column prop="id" label="id"/>

            <el-table-column prop="name" label="类名"/>
            <el-table-column prop="mainV" label="是否为大类"/>
            <el-table-column prop="parentClassName" label="所属大类名"/>
            <el-table-column prop="handle" label="handle">
                <template slot-scope="scope">
                    <el-button @click="toUpdate(scope.row)" size="mini" type="text">更改</el-button>
                    <el-popconfirm
                            @onConfirm="toDelete(scope.row)"
                            title="确认删除"
                    >
                        <el-button style="margin-left:10px;margin-right:10px" slot="reference" size="mini" type="text">删除</el-button>
                    </el-popconfirm>
                    <el-tooltip content="主类显示排序" v-if="scope.row.main" placement="right">
                        <span>
                            <el-button  @click="moveMain(scope.row,true)" circle size="mini" icon="el-icon-arrow-up" ></el-button>
                            <el-button @click="moveMain(scope.row,false)" circle size="mini" icon="el-icon-arrow-down"></el-button>
                        </span>
                    </el-tooltip>
                </template>
            </el-table-column>
        </Table>
    </div>

    <el-dialog :visible.sync="showUpdate">
        <Form :form="normalUpdateForm">
            <Row>
                <Cell>
                    <Label>名称</Label>
                    <Value v-form-controller="'name'">
                        <el-input v-model="normalUpdateForm.value.name"/>
                    </Value>
                </Cell>
                <Cell>
                    <Label>选择父类</Label>
                    <Value>
                        <el-select v-model="normalUpdateForm.value.parentClass" clearable>
                            <el-option
                                    v-for="i in classLists"
                                    :key="i.id"
                                    :value="i.id"
                                    :label="i.name"
                            />
                        </el-select>
                    </Value>
                </Cell>
            </Row>
        </Form>
        <div slot="footer">
            <el-button @click="closeUpdate">取消</el-button>
            <el-button type="primary" @click="confirmUpdate()">确定</el-button>
        </div>
    </el-dialog>

    <el-dialog :visible.sync="showUpdateMain">
        <Form :form="mainUpdateForm">
            <Row>
                <Cell>
                    <Label>名称</Label>
                    <Value v-form-controller="'name'">
                        <el-input v-model="mainUpdateForm.value.name"></el-input>
                    </Value>
                </Cell>
            </Row>
        </Form>
        <div slot="footer">
            <el-button @click="closeUpdate()">取消</el-button>
            <el-button @click="confirmUpdate(true)" type="primary">确定</el-button>
        </div>
    </el-dialog>
</div>