<div>
    <div class="shop-home-header"></div>
    <article class="shop-article">
        <nav class="shop-home-nav-wrapper">
            <div class="shop-home-header2 between">
                <div class="flex">
                    <img class="logo" :src="logoImg"/>
                    <div class="ice-brand center">{{baseInfo.websiteName}}</div>
                </div>
                <div class="nav-menu" v-cm-ripple>
                    <i class="fa fa-menu"></i>
                </div>
            </div>
            <div class="shop-home-nav">
                <div class="item-wrapper" v-for="(i,index) in navData" :key="index">
                    <el-dropdown v-if="i.children">
                        <div class="shop-home-nav-item">
                            {{i.name}}
                            <i class="el-icon-arrow-down el-icon--right"></i>
                        </div>
                        <el-dropdown-menu v-if="i.children" slot="dropdown">
                            <div @click="navList(j)" class="ice-line" v-cm-ripple v-for="j in i.children" :key="j.id">{{j.name}}</div>
                        </el-dropdown-menu>
                    </el-dropdown>
                    <div @click="navHref(i)" v-else class="el-dropdown shop-home-nav-item-link">
                        {{i.name}}
                    </div>
                </div>
            </div>
        </nav>
    </article>
    <div class="shop-home-content">
        <slot></slot>
    </div>
    <footer class="shop-home-footer">
        <main class="content">
            <div class="left item">
                <img :src="logoImg" class="footer-logo" />
            </div>
            <div class="right item">
                <div class="ice-brand shop-footer-line">Navigation</div>
                <div @click="navMainType(i)" v-for="i in footerNavList"
                class="shop-footer-light-line link"
                >{{i.name}}</div>
            </div>
            <div class="right item">
                <div class="ice-brand shop-footer-line">{{baseInfo.websiteName}}</div>
                <div class="shop-footer-light-line keyValue" v-for="i in footerValueKeyList" :key="i.k">
                    <label><i class="za" :class="'za-'+i.icon"></i></label>
                    <span>{{baseInfo[i.k]}}</span>
                </div>
            </div>

        </main>
        <div style="" class="ice-des text-center">
            公安备案号 <span style="margin-left:1rem">{{baseInfo.ICP}}</span>
        </div>
    </footer>

</div>
