.yo-row {
  display: flex;

  & + .yo-row {
    margin-top: 1rem;
  }
}

.yo-cell {
  display: inline-flex;
}

.yo-cell-label {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  min-width: $--yo-label-minW;
  padding-right: $--yo-label-p-right;
  color: $--color-font-beauty;
  &.changed{
    color:$--color-assist;
  }
}

.yo-cell-content {
  flex: 1;
  flex-shrink: 1;
  display: inline-flex;
  align-items: center;
}


.yo-row-aside {
  padding: $--yo-row-aside-p;
}

@each $sizeKey,$value in $--yo-row-size{
  .yo-form-size-#{$sizeKey}{
    .yo-cell-label{
      min-width:map-get($value,label-minW) !important;
    }
  }
}

@for $i from 1 through 10 {
  .flex-#{$i} {
    flex: $i;
    flex-shrink: $i;
  }
}